@{
    ViewData["Title"] = "Home Page"; // keep as "Title"
    @* string[] days = { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" }; // don't put data in View *@
    string[]? days = ViewData["days"] as string[]; // note the ?
}

<div style="color: tomato">
    <h1 class="display-4">What I want to do:</h1>
    <p>I want any job in software that is interesting and pays the bills. I don't even care what it is!</p>
    @* <ul> @* can mix Razor syntax with html *@
        @foreach (var item in days!) // note the !
        {
            <li>@item</li>
        }
    </ul> *@
</div>
