@model System.Diagnostics.Process;

@{
    ViewData["Title"] = "Process Details";
}

<div>
    <table>
        <tr>
            <td>ID: </td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Name: </td>
            <td>@Model.ProcessName</td>
        </tr>
        <tr>
            <td>Handle Count: </td>
            <td>@Model.HandleCount</td>
        </tr>
    </table>
</div>